.Recepies_container {
  
  padding:20px;
}


.Recepies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}
.header{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin-bottom: 10px;
}
.CloseButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #ff6347;
  cursor: pointer;
  transition: color 0.3s ease;
}


